<div class="search-section expanded row">
		<form class="serach-form" action="search" method="get">
			<div class="small-12 medium-12 large-6 large-offset-1 columns">
				<input class="search-term" type="text" name="term" value="<%= searched_term %>">
			</div>
			<div class="small-8 meduim-8 large-3 columns">
				<select class="search-gov" name="governorate">
					<option selected="selected" value="<%= searched_gov %>"><%= searched_gov %></option>
					<option value="كلّ المحافظات">كلّ المحافظات</option>
					<!-- loop over all governorates and render them -->
					<% governorates.forEach((gov) => { %>
						<option value="<%= gov %>"><%= gov %></option>
					<% }) %>
				</select>
			</div>
			<div class="small-4 medium-4 large-2 columns">
				<input type="submit" class="button" value="ابحث">
			</div>
		</form>
	</div>
