<h3 class="page-name"><%= pageTitle %></h3>
	<br>
<form id="submit-form" class="has-captcha" method="post" action="submit">
	<h4>بيانات الدّواء</h4>
	<div class="expanded row">
		<div class="large-8 meduim-8 small-12">
			<label>الاسم بالأحرف اللاتينية *
				<span id="latin_name_error" class="error-msg">الرجاء إدخال اسم الدواء بالأحرف اللاتينية</span>
				<input id="latin_name" type="text" name="latin_name" placeholder="بدقّة كما على العبوّة">
			</label>
		</div>
	</div>
	<div class="expanded row">
		<div class="large-8 meduim-8 small-12">
			<label>الاسم بالعربية
				<input id="arabic_name" type="text" name="arabic_name" placeholder=".للتوضيح لكنه لا يُستخدم في البحث">
			</label>
		</div>
	</div>
	<div class="expanded row">
		<div class="large-8 meduim-8 small-12">
م			<label>تاريخ انتهاء الصلاحية * (ليس أقرب من <%=app_config.expiry_acceptance_threshold %> يومًا)
			<span id="expire_date_error" class="error-msg">صلاحية الدواء أهمّ من الدواء!</span>
				<div class="expanded row">
					<select id="expire_month" name="month">
						<option value="" selected disabled>الشهر</option>
						<% months.forEach((month) => { %>
							<option value="<%= month.value %>"><%= month.text %></option>
						<% }) %>
					</select>
					<select id="expire_year" name="year">
						<option value="" selected disabled>السنة</option>
						<% years.forEach((year) => { %>
							<option value="<%= year %>"><%= year %></option>
						<% }) %>
					</select>
				</div>
			</label>
		</div>
	</div>
	<div class="expanded row">
		<div class="large-8 meduim-8 small-12">
			<label>حالة العبوة *
				<span id="package_state_error" class="error-msg">توضيح حالة العبّوة يساعد من يطلب الدواء</span>
				<select id="package_state" name="package_state">
					<option value="" selected disabled>حالة العبوة</option>
					<% packageState.forEach((stat) => { %>
						<option value="<%= stat %>"><%= stat %></option>
					<% }) %>
				</select>
			</label>
		</div>
	</div>
	<div class="expanded row">
		<div class="large-8 meduim-8 small-12">
			<label>المحافظة *
				<span id="gov_error" class="error-msg">المحافظة الموجود فيها الدواء المُدرج</span>
				<select id="governorate" name="governorate">	
					<option value="" selected disabled>اختر المحافظة</option>
					<% governorates.forEach((gov) => { %>
						<option value="<%= gov %>"><%= gov %></option>
					<% }) %>
				</select>
			</label>
		</div>
	</div>
	<div class="expanded row">
		<div class="large-8 meduim-8 small-12">
			<label>ملاحظات
			<textarea id="notes" style="min-height: 100px;" name="notes"></textarea>
		</label>
		</div>
	</div>

	<h4>بيانات الاتّصال</h4>

	<div class="expanded row">
		<div class="large-8 meduim-8 small-12">
			<label>الاسم *
				<span id="user_name_error" class="error-msg">كيف تحبّ أن يخاطبك من يتواصل مع بشأن إدراجك؟</span>
				<input type="text" id="user_name" name="user_name" placeholder="اسمك ليتواصل به معك من يطلب الدواء">
			</label>
		</div>
	</div>

	<div class="expanded row">
		<div class="large-8 meduim-8 small-12">
			<label>عنوان البريد الإلكترونى *
				<span id="email_error" class="error-msg">عنوان بريدك الإلكتروني وسيلة تواصل الخدمة معك!</span>
				<span id="email_value_error" class="error-msg">صيغة البريد الإلكترونى (aliase@example.com)</span>
				<input type="email" id="user_email" name="user_email" placeholder="بدون عنوان بريد صحيح لن يظهر إدراجك">
			</label>
		</div>
	</div>

	<div class="expanded row">
		<div class="large-12 meduim-12 small-12">
			<input id="email_private" type="checkbox" name="email_private">
			<label for="email-private">لا أرغب في ظهور عنوان بريدي مع بيانات الإدراج و&nbsp;سأضع رقم هاتف </label>
		</div>
	</div>
	
	<div class="expanded row">
		<div class="large-8 meduim-8 small-12">
			<label id="contact-number-label">رقم الهاتف
				<span id="required-indicator">*</span>				
				<span id="phone_error" class="error-msg">إذا اخترت عدم إظهار عنوان بريدك الإلكتروني فيتعيّن عليك إدخال رقم هاتف</span>
				<span id="number_error" class="error-msg">برجاء إدخال رقم صحيح</span>
				<input type="text" id="user_phone" name="user_phone" placeholder="رقم هاتف ليتواصل معك عبره من يطلب الدواء">
			</label>
		</div>
	</div>
	
	<div class="expanded row">
		<div class="large-8 meduim-8 small-12">
			<div class="captcha-container">
				<label for="captcha_data">إنسان أم روبوت :)
					<div class="captcha-img small-6"></div>
					<input class="small-6" type="text" id="captcha_data" name="captcha_data">
					<div class="button" id="renew-captcha">صعبة! أظهر غيرها</div>
				</label>
			</div>
		</div>
	</div>
	<br>
	<div class="expanded row">
		<div class="large-8 meduim-8 small-12">
			<input id="terms_agreed" type="checkbox" name="termsـagreed">
			<label for="terms_agreed">أوافق على <a href="terms">شروط الخدمة</a></label>
		</div>
	</div>

	<div class="expanded row">
		<div class="large-8 meduim-8 small-12">
			<button id="submit-button" class="button hollow" type="submit" disabled form="submit-form" value="أدرِج">أدرِج</button>
		</div>
	</div>
</form>
