<!-- Home page submit form -->

<h3 class="page-name">اعرض دواءً</h3>
<form id="submit-form" class="has-captcha" method="post" action="submit">
	<br>
	<h4>بيانات الدواء</h4>
	<div class="expanded row">
		<div class="large-8 meduim-8 small-12">
			<label>الاسم باللاتينية*
				<span id="latin_name_error" class="error-msg">برجاء إدخال إسم الدواء باللاتينية</span>
				<input id="latin_name" type="text" name="latin_name" placeholder="بدقّة كما على العبوّة">
			</label>
		</div>
	</div>
	<div class="expanded row">
		<div class="large-8 meduim-8 small-12">
			<label>الاسم بالعربية
				<input id="arabic_name" type="text" name="arabic_name" placeholder=".للتوضيح لكن لا يُستخدم في البحث">
			</label>
		</div>
	</div>
	<div class="expanded row">
		<div class="large-8 meduim-8 small-12">
			<label>تاريخ انتهاء الصلاحية*
			<span id="expire_date_error" class="error-msg">( برجاء إدخال الشهر و السنة )</span>
				<div class="expanded row">
					<select id="expire_month" name="month">
						<option value="" selected disabled>الشهر</option>
						<% months.forEach((month) => { %>
							<option value="<%= month.value %>"><%= month.text %></option>
						<% }) %>
					</select>
					<select id="expire_year" name="year">
						<option value="" selected disabled>السنة</option>
						<% years.forEach((year) => { %>
							<option value="<%= year %>"><%= year %></option>
						<% }) %>
					</select>
				</div>
			</label>
		</div>
	</div>
	<div class="expanded row">
		<div class="large-8 meduim-8 small-12">
			<label>حالة العبوة*
				<span id="package_state_error" class="error-msg">( برجاء إدخال حالة العبوة )</span>
				<select id="package_state" name="package_state">
					<option value="" selected disabled>حالة العبوة</option>
					<% packageState.forEach((stat) => { %>
						<option value="<%= stat %>"><%= stat %></option>
					<% }) %>
				</select>
			</label>
		</div>
	</div>
	<div class="expanded row">
		<div class="large-8 meduim-8 small-12">
			<label>المحافظة*
				<span id="gov_error" class="error-msg">( برجاء إدخال المحافظة )</span>
				<select id="governorate" name="governorate">	
					<option value="" selected disabled>إختر المحافظة</option>
					<% governorates.forEach((gov) => { %>
						<option value="<%= gov %>"><%= gov %></option>
					<% }) %>
				</select>
			</label>
		</div>
	</div>
	<div class="expanded row">
		<div class="large-8 meduim-8 small-12">
			<label>ملاحظات
			<textarea id="notes" style="min-height: 100px;" name="notes"></textarea>
		</label>
		</div>
	</div>

	<h4>بيانات الإتصال</h4>

	<div class="expanded row">
		<div class="large-8 meduim-8 small-12">
			<label>الاسم*
				<span id="user_name_error" class="error-msg">برجاء إدخال الإسم الشخصي للتواصل</span>
				<input type="text" id="user_name" name="user_name" placeholder="اسم الشخصي للتواصل">
			</label>
		</div>
	</div>

	<div class="expanded row">
		<div class="large-8 meduim-8 small-12">
			<label>عنوان البريد الإلكترونى*
				<span id="email_error" class="error-msg">برجاء إدخال عنوان البريد الإلكترونى</span>
				<span id="email_value_error" class="error-msg">صيغة البريد الإلكترونى (example@example.com)</span>
				<input type="email" id="user_email" name="user_email" placeholder="عنوان البريد الإلكترونى">
			</label>
		</div>
	</div>

	<div class="expanded row">
		<div class="large-12 meduim-12 small-12">
			<input id="email_private" type="checkbox" name="email_private">
			<label for="email-private">لا تظهر عنوان بريدي مع بيانات الدواء و سأضع رقم هاتف </label>
		</div>
	</div>

	
	<div class="expanded row">
		<div class="large-8 meduim-8 small-12">
			<label id="contact-number-label">رقم الهاتف
				<span id="required-indicator">*</span>				
				<span id="phone_error" class="error-msg">برجاء إدخال رقم هاتف</span>
				<span id="number_error" class="error-msg">برجاء إدخال رقم سليم</span>
				<input type="text" id="user_phone" name="user_phone" placeholder="رقم هاتف لتنسيق التبادل">
			</label>
		</div>
	</div>
	
	<div class="expanded row">
		<div class="large-8 meduim-8 small-12">
			<div class="captcha-container">
				<label for="captcha_data">إنسان أم روبوت :)
					<div class="captcha-img small-6"></div>
					<input class="small-6" type="text" id="captcha_data" name="captcha_data">
					<div class="button" id="renew-captcha">إطلب كلمة تحقق أخرى</div>
				</label>
			</div>
		</div>
	</div>
	<br>
	<div class="expanded row">
		<div class="large-8 meduim-8 small-12">
			<input id="terms_agreed" type="checkbox" name="termsـagreed">
			<label for="terms_agreed">أوافق على <a href="terms">شروط الخدمة</a></label>
		</div>
	</div>

	<div class="expanded row">
		<div class="large-8 meduim-8 small-12">
			<button id="submit-button" class="button hollow" type="submit" disabled form="submit-form" value="أدرِج">أدرِج</button>
		</div>
	</div>
</form>
