<% const pageTitle = "قائمة إدراجاتي" %>
<% include ./templates/header %>

<div class="content">
	<div class="wide-container">
		<div class="page-content">
			<h3 class="page-name"><%= pageTitle %></h3>
			<div class="all-results expanded row">
				<div class="small-12 meduim-8 large-6 columns">
					<% results.forEach((result) => { %>
						<!-- loop over the returned results and render them -->
							<div class="search-result">
								<div class="expanded row">
									<div class="small-12 columns">
										<h5 class="name"><%= result.latin_name %> <%= result.arabic_name %> </h5>
										<p class="governorate"><%= result.governorate %></p>
										<p class="expire-date" style="color: #000">تاريخ انتهاء الصلاحية: <%= result.expire_year %>/<%= result.expire_month %></p>
										<p class="submission-date" style="color: #000">تاريخ الإدراج: <%= result.submission_year %>/<%= result.submission_month %></p>
										<p class="package_state" style="color: #000">حالة العبوة: <%= result.package_state %></p>
									</div>
								</div>
								<a class="button remove-btn" href="<%= result.delete_token %>">احذف</a>
							</div>
					<% }) %>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ./templates/message_modal %>
		
<div class="indicator-container">
	<div id="loading">
		<span id="bubblingG_1">
		</span>
		<span id="bubblingG_2">
		</span>
		<span id="bubblingG_3">
		</span>
	</div>
</div>

<% include ./templates/footer %>

