<!DOCTYPE html>

<!-- Include doc_head -->
<% include ./partials/doc_head %>

<!-- Include site header -->
<% include ./templates/header %>


<div class="content">
	<!-- Include search section -->
	<% include ./templates/search_section %>
	<div class="wide-container">
		<div class="page-content">
			<h3 class="page-name">نتائج البحث</h3>
			<p class="results-length">(<%= length %>)</p>
			<div class="all-results expanded row">
				<div class="small-12 meduim-8 large-6 columns">

					<% if(results == 0) { %>
						<p>لا نتائج</p>
					<% } else { %>
						<% results.forEach((result) => { %>
							<!-- loop over the returned results and render them -->
							<a href="/medicine/<%= result._id %>">
								<div class="search-result pointer">
									<div class="expanded row">
										<div class="small-12 columns">
											<h5 class="name"><%= result.latin_name %> - <%= result.arabic_name %> </h5>
											<p class="governorate"><%= result.governorate %></p>
											<p class="expire-date">تاريخ انتهاء الصلاحية: <%= result.expire_year %>/<%= result.expire_month %></p>
											<p class="package_state" style="color: #000">حالة العبوة: <%= result.package_state %></p>
										</div>
									</div>
								</div>
							</a>
						<% }) %>
					<% } %>
				</div>
			</div>
		</div>
	</div>
</div>



<!-- Include site Footer -->
<% include ./templates/footer %>


<!-- Include doc_tail -->
<% include ./partials/doc_tail %>
